body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar header" " sidebar main" "sidebar main";
}

/* HEADER */
.header {
  grid-column: 2 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(400px, 50%) minmax(300px, 30%);
  grid-template-rows: 50px 50px;
  row-gap: 2rem;
  justify-content: space-between;
  padding: 1rem;
  grid-area: header;
}

.searchbar {
  display: flex;
  align-items: center;
}

#search {
  height: 30px;
  border: 1px solid #94a3b8;
  border-radius: 10px;
  background-color: aliceblue;
  flex-grow: 1;
  margin: 0 1rem;
}

.avatars {
  width: 3rem;
  height: 3rem;
}

.header-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.username {
  display: flex;
  gap: 1rem;
}

.username img {
  width: 4rem;
  height: 4rem;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name > * {
  margin: 0;
}

.options {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.options button {
  background-color: #1d1e2c;
  border: none;
  border-radius: 20px;
  color: white;
  width: min(100px, 8vw);
  height: 40px;
  font-weight: 600;
}

/* SIDEBAR */
.sidebar {
  background-color: #1d1e2c;
  color: white;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(200px, 20%);
  grid-template-rows: auto auto;
  padding: 1rem 2.5rem;
  font-weight: 500;
  row-gap: 2rem;
  grid-area: sidebar;
  align-content: flex-start;
}

.brand h2 {
  display: inline-block;
  margin: 0;
}

.brand {
  display: flex;
  gap: 1.5rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.sidebar-info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.sidebar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.more {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.settings {
  padding-top: 3rem;
}
/* MAIN-CONTENT */
.main {
  border: 2px solid orangered;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  grid-area: main;
  grid-template-areas: "project announcements" "project trending";
}

.projects {
  grid-area: project;
}

.projects .articles {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

.t-block {
  display: flex;
}

.article {
  border: 1px solid #b9bfc6;
  border-radius: 6px;
}
